<section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 4rem;">

</section>
  
<script src="assets/vimeoplayer/player.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>